{% extends 'base.html.twig' %}

{% block body %}
    <div id="welcome">
        <h1><span>Welcome to</span> Pet Central!</h1>
    </div>

    <div id="Pets">
        <h2>Menu</h2>
        <p>
            <input type="button" 
                onclick="location.href='{{ path('user_registration') }}';" 
                value="Register" />
            <input type="button" 
                onclick="location.href='{{ path('pet_list') }}';" 
                value="View Pets" />
        </p>
    </div>
{% endblock %}
