{% extends 'base.html.twig' %}

{% block title %}- Our Pets{% endblock %}

{% block body %}
    <h1>Our Pets</h1>
    <p>
        Below is a list of our pets, click to see more about them, 
        or add one of your own!
    </p>
    <input type="button" 
        onclick="location.href='{{ path('pet_add') }}';" 
        value="Add Pet" />
    <ul>
        {% for pet in pets %}
            <li> 
                <a href={{ path('pet_show', { 'petId' : pet.id }) }}>
                    {{ pet.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
    <div class="navigation">
        {{ knp_pagination_render(pets) }}
    </div>
{% endblock %}
