{% extends 'base.html.twig' %}

{% block title %}- {{ pet_slug }}{% endblock %}

{% block body %}
    <h1>{{ pet_slug }}</h1>
    <p>
        Pet details will show here. Next comes the entity
    </p>
{% endblock %}
