{% extends 'base.html.twig' %}

{% block title %}- Our Pets{% endblock %}

{% block body %}
    <h1>Our Pets</h1>
    <p>
        List of pets with links to profile pages here. Next comes the entity
    </p>
{% endblock %}
